.about {
  display: flex;
}

.about__section {
  flex: 1 1 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about__image {
  flex: 1 1 54%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 414px;
  height: 464px;
}

.about__photo {
  object-fit: cover;
  object-position: center;
}

.about__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.about__subtitle {
  color: var(--secondary-text);
}

.about__text {
  color: var(--text-color-secondary);
  margin-bottom: 26px;
}

.about__text:last-child {
  margin-bottom: 72px;
}

.about__buttons-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
}